<div class="partners"> 
	<a class="partners__link" href="http://www.surgutneftegas.ru/" target="_blank" style="width: 312px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/sng.jpg" alt="ОАО&amp;laquo;Сургутнефтегаз&amp;raquo;"/>
	</a>
	<a class="partners__link" href="http://www.npfsng.ru/" target="_blank" style="width: 312px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/footer_partner_02.png" alt="ОАО&amp;laquo;Сургутнефтегаз&amp;raquo;"/>
	</a>
	<a class="partners__link" href="http://www.sngb.ru/" target="_blank" style="width: 312px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/footer_partner_04.png" alt="ЗАО &amp;laquo;Сургутнефтегазбанк&amp;raquo;"/>
	</a>
	<a class="partners__link" href="http://www.tvernefteproduct.ru/" target="_blank" style="width: 312px; height: 59px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/footer_partner_18-2.png" alt="Сбытовое объединение ТВЕРЬНЕФТЕПРОДУКТ"/>
	</a>
	<a class="partners__link" href="http://www.kirishiavtoservis.ru/" target="_blank" style="width: 312px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/footer_partner_08.png" alt="ООО &amp;laquo;КИРИШИАВТОСЕРВИС&amp;raquo;"/>
	</a>
	<a class="partners__link" href="http://www.surgutneftegas39.ru/" target="_blank" style="width: 312px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/kalinin.jpg" alt="ООО Калининграднефтепродукт"/>
	</a>
	<a class="partners__link" href="http://www.pskovnefteprodukt.ru/" target="_blank" style="width: 312px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/footer_partner_23.png?ss" alt="ООО Псковнефтепродукт"/>
	</a>
	<a class="partners__link partners__link-blueBg" href="http://www.kinef.ru/" target="_blank" style="width: 312px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/footer_partner_25.png" alt="ООО КИНЕФ"/>
	</a>
	<a class="partners__link" href="http://www.novnp.ru/" target="_blank" style="width: 312px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/footer_partner_21.png?dd" alt="ООО &amp;laquo;Новгороднефтепродукт&amp;raquo;"/>
	</a>
	<a class="partners__link" href="https://www.vitains.ru/" target="_blank" style="width: 473px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/vita-strah.svg" style="position: relative;top:6px;" width="473px" height="56px" alt="ООО «Вита-страхование»"/>
	</a>
	<a class="partners__link" href="http://www.lgnch.spb.ru/" target="_blank" style="width: 473px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/footer_partner_10.png" alt="ООО Ленгипронефтехим"/>
	</a>
	<a class="partners__link partners__link-greenBg" href="http://www.surgutmebel.ru/" target="_blank" style="width: 472px;" onclick="yaCounter32622945.reachGoal('mebelfooter');  console.log('mebelfooter');" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/surgutmebel-4b8e0a.jpg" alt="Сургутмебель"/>
	</a>
	<a class="partners__link partners__link-grayBg" href="http://www.otsurgut.ru/neftyanik-sibiri" target="_blank" style="width: 474px;" >
		<img class="partners__img" src="/bitrix/templates/.default/images/footer_partners/neftyanik-sibiri-FBF3E0.jpg" alt="Пансионат Нефтяник Сибири"/>
	</a>
</div>